---
- name: Debug backup sensor data
  hosts: homeassistant
  gather_facts: false

  tasks:
    - name: Get backup_backup_manager_state sensor
      ansible.builtin.uri:
        url: "{{ ha_url }}/api/states/sensor.backup_backup_manager_state"
        method: GET
        headers:
          Authorization: "Bearer {{ vault_ha_token }}"
        return_content: true
        status_code: 200
      register: backup_mgr

    - name: Show backup manager sensor
      ansible.builtin.debug:
        msg: |
          State: {{ backup_mgr.json.state }}
          Attributes keys: {{ backup_mgr.json.attributes.keys() | list }}
          Full attributes: {{ backup_mgr.json.attributes | to_nice_json }}

    - name: Query backups via template API
      ansible.builtin.uri:
        url: "{{ ha_url }}/api/template"
        method: POST
        headers:
          Authorization: "Bearer {{ vault_ha_token }}"
          Content-Type: "application/json"
        body_format: json
        body:
          template: >-
            {{ '{{' }} states.sensor
            | selectattr('entity_id', 'match', 'sensor.backup_')
            | map(attribute='entity_id')
            | list
            | tojson {{ '}}' }}
        return_content: true
        status_code: 200
      register: all_backup_sensors

    - name: Show all backup sensors
      ansible.builtin.debug:
        msg: "{{ all_backup_sensors.content }}"

    - name: Try to get backup list from HA internal backup manager
      ansible.builtin.uri:
        url: "{{ ha_url }}/api/template"
        method: POST
        headers:
          Authorization: "Bearer {{ vault_ha_token }}"
          Content-Type: "application/json"
        body_format: json
        body:
          template: >-
            {{ '{{' }} state_attr('sensor.backup_backup_manager_state', 'backups')
            | default('NO_BACKUPS_ATTR', true)
            {{ '}}' }}
        return_content: true
        status_code: 200
      register: backups_from_attr

    - name: Show backups from attribute
      ansible.builtin.debug:
        msg: "{{ backups_from_attr.content[:2000] }}"
